USE [master]
GO
/****** Object:  Database [CHP3db]    Script Date: 2/5/2023 11:38:09 am ******/
CREATE DATABASE [CHP3db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHP3db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CHP3db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHP3db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CHP3db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHP3db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHP3db]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 2/5/2023 11:38:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DepartmentCode] [int] NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[CollegeCode] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2/5/2023 11:38:10 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[StudentCode] [nvarchar](6) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[RegisterDate] [date] NULL,
	[GPA] [float] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTMENT] ([DepartmentCode], [DepartmentName], [CollegeCode]) VALUES (1, N'ITAD', 1)
INSERT [dbo].[DEPARTMENT] ([DepartmentCode], [DepartmentName], [CollegeCode]) VALUES (2, N'AUTOMOTIVE', 1)
INSERT [dbo].[DEPARTMENT] ([DepartmentCode], [DepartmentName], [CollegeCode]) VALUES (3, N'ENGINEERING', 1)
GO
INSERT [dbo].[STUDENT] ([StudentCode], [FirstName], [LastName], [RegisterDate], [GPA]) VALUES (N'201101', N'Melissa', N'Tan', CAST(N'2011-02-04' AS Date), 2.55)
INSERT [dbo].[STUDENT] ([StudentCode], [FirstName], [LastName], [RegisterDate], [GPA]) VALUES (N'201102', N'Lily', N'Tan', CAST(N'2011-02-04' AS Date), 3.45)
INSERT [dbo].[STUDENT] ([StudentCode], [FirstName], [LastName], [RegisterDate], [GPA]) VALUES (N'201103', N'Alicia', N'Ahmad', CAST(N'2011-03-04' AS Date), 3.25)
GO
USE [master]
GO
